language: node_js
node_js:
- '4'
install:
- npm install
script:
- npm run test
deploy:
  provider: npm
  email: dev@developmentseed.org
  api_key: ${NPM_API_KEY}
  on:
    tags: true
    repo: sat-utils/sat-api-lib
